.wrapper {
  width: 100%;
  padding: 80px 0;
  background: #111;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
}

.genreContainer {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.genreCard {
  width: 300px;
  height: 380px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.genreImage {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.genreImage:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.3);
}

.genreTitle {
  font-size: 22px;
  color: white;
  margin-top: 15px;
}

.genreDescription {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 8px;
  max-width: 280px;
}

.listenButton {
  margin-top: 40px;
  border: 2px solid white;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 30px;
  transition: 0.3s;
}

.listenButton:hover {
  background: white;
  color: black;
}
